// PRIMARY COLORS
$color-primary: #010310;
$color-primary-light: #274b5f;

$color-secondary: #567d95;
$color-secondary-light: #90e0ef;

$color-tertiary: #232c39;

// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey: #777;

$color-grey-1: #eee;

// FONT
$default-font-size: 1.6rem;
