<section class="container">
  <h1 class="heading-primary">{{ spaceship.name }}</h1>
  <img class="btn-back" (click)="navigation.goBack()" src="../../../assets/images/back.png" alt="Back">        
  <div class="column">
    <div class="btn__statistics"></div>
    <div class="spaceship">
      <div class="summary">
        <img class="summary__image" [src]="spaceship.image" alt="" />
        <div class="summary__details">
          <div class="summary__details-item">
            {{"spaceship.manufacturer" | translate}} --> {{ spaceship.manufacturer }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
