<div class="form__objects form__item">
  <div class="form__select">
    <mat-form-field appearance="fill">
      <mat-label>Select a planet</mat-label>
      <mat-select
        matNativeControl
        required
        (selectionChange)="createPlanet($event.value)"
      >
        <mat-option>None</mat-option>
        <mat-option *ngFor="let planet of planets" [value]="planet">
          {{ planet.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form__add" [routerLink]="['../create-planet']">
    <span>Add a new planet</span>
    <span class="form__add-icon material-icons"> add </span>
  </div>
</div>
<div class="form__objects form__item">
  <div class="form__select">
    <mat-form-field appearance="fill">
      <mat-label>Select a spaceship</mat-label>
      <mat-select
        matNativeControl
        required
        (selectionChange)="createSpaceship($event.value)"
      >
        <mat-option>None</mat-option>
        <mat-option *ngFor="let spaceship of spaceships" [value]="spaceship">
          {{ spaceship.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form__add" [routerLink]="['../create-spaceship']">
    <span>Add a new spaceship</span>
    <span class="form__add-icon material-icons"> add </span>
  </div>
</div>
