/* You can add global styles to this file, and also import other style files */
@import '/src/app/styles/mixins';
@import '/src/app/styles/colors';

*,
*::after,
*::before {
  margin: 0;
  padding: 1;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-image: url('../src/assets/images/starBackground.jpg');
  background-size: cover;
}

.xng-breadcrumb-root {
  padding: 1rem 0rem;
  color: $color-white !important;
}

.xng-breadcrumb-trail {
  color: $color-white !important;
}

.xng-breadcrumb-list {
  justify-content: center;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(240, 240, 240, 0.87) !important;
}

.mat-form-field {
  width: 50%;
}
