<section class="container">
  <h1 class="heading-primary">Create a Smuggler</h1>
  <div class="column">
    <form class="form" [formGroup]="smugglerGroup" (ngSubmit)="submitForm()">
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Smuggler Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Specie</mat-label>
          <input matInput formControlName="species" />
        </mat-form-field>
      </div>
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Select the gender</mat-label>
          <mat-select matNativeControl required formControlName="gender">
            <mat-option>None</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Height</mat-label>
          <input type="number" matInput formControlName="height" />
        </mat-form-field>
      </div>
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Mass</mat-label>
          <input type="number" matInput formControlName="mass" />
        </mat-form-field>
      </div>

      <!-- <app-form-smuggler-selects
        (planetgroup)="planetSelected($event)"
      ></app-form-smuggler-selects> -->

      <app-form-smuggler-selects
        (newPlanetEvent)="planetSelected($event)"
        (newSpaceshipEvent)="spaceshipSelected($event)"
      ></app-form-smuggler-selects>

      <button class="form-btn" [disabled]="smugglerGroup.invalid">
        Submit
      </button>
    </form>
  </div>
</section>
